<h2> <%= @organisation.name %> </h2>

<%= form_with model: @shift, local: true, scope: :shift do |f| %>
    <% if @shift.errors.any? %>
        <div class="error_messages">
          <h3><font color="red">Form is invalid</font></h3>
          <ul>
            <% for message in @shift.errors.full_messages %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
    <table style="width:100%">
        <thead>
            <tr>
                <th>Employee name</th>
                <th>Shift date</th>
                <th>Start time</th>
                <th>Finish time</th>
                <th>Break length (minutes)</th>
                <th>Hours worked</th>
                <th>Shift cost</th>
            </tr>
        </thead>

        <tbody>
            <% @shifts.each do |shift| %>
            <tr>
                <td style="text-align: left;"><%= @names[shift] %></td>
                <td><%= shift.start.strftime("%d/%m/%Y") %></td>
                <td><%= shift.start.strftime("%I:%M%p") %></td>
                <td><%= shift.finish.strftime("%I:%M%p") %></td>
                <td><%= shift.break_length %></td>
                <td><%= @hours_worked[shift] %></td>
                <td>$<%= @shift_costs[shift] %></td>
                <td>
                    <%= link_to "Edit", edit_shift_path(:id => shift.id) %>
                    </br>
                    <%= link_to "Delete", shift_path(id: shift.id), :method => :delete, data: {confirm: "Are you sure?"} %>
                </td>
            </tr>
            <% end %>

            <tr>
                <td style="text-align: left;"><%= current_user.name %></td>
                <td><%= f.date_field :date%></td>
                <td><%= f.time_field :start%></td>
                <td><%= f.time_field :finish%></td>
                <td><%= f.number_field :break_length, :value => 0%></td>
                <td colspan="3"><%= f.submit "Create Shift" %></td>
            </tr>
        </tbody>
    </table>
<% end %>
