<p>You aren't a member of any organisations. Join an existing one or create a new one.</p>

<h2>Organisations</h2>
<ul>
    <% for organisation in Organisation.order(:name).all %>
        <li>
            <%= organisation.name %>
            <%= link_to "Edit", edit_organisation_path(:id => organisation.id) %>
            <%= link_to "Join", join_organisation_path(:id => organisation.id), :method => :put %>
        </li>
    <% end %>
</ul>


<h2>Create organisation</h2>
<%= form_with model: @organisation, local: true do |f| %>
    <% if @organisation.errors.any? %>
        <div class="error_messages">
            <h3><font color="red">Form is invalid</font></h3>
            <ul>
                <% for message in @organisation.errors.full_messages %>
                    <li><%= message %></li>
                <% end %>
            </ul>
        </div>
    <% end %>
    <p>
        <%= f.label :"Name:" %>
        <%= f.text_field :name %><br />
        <%= f.label :"Hourly rate: $" %>
        <%= f.number_field :hourly_rate, step: :any%><br />
    </p>
    <p class="button"><%= f.submit "Create and Join" %></p>
<%end%>
